In [37]:
import pandas as pd
import numpy as np
import os

In [78]:

folder_path = "./data/dsc_fc/"

downsampled_dfs = []

for filename in os.listdir(folder_path):
    if filename.endswith(".csv"):
        file_path = os.path.join(folder_path, filename)
        
        data = pd.read_csv(file_path, delimiter=',', parse_dates=[0], infer_datetime_format=True, na_values='0', header=None)
        data.set_index([0], inplace=True)
        data_3h = data.resample('1.5H').mean()
        data_3h_downsampled = data_3h[::2]
        
        downsampled_dfs.append(data_3h_downsampled)

merged_df = pd.concat(downsampled_dfs)

merged_df.to_csv('./data/dsc_fc/merged_data.csv')

C:\Users\USER\AppData\Local\Temp\ipykernel_13244\2274910709.py:9: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  data = pd.read_csv(file_path, delimiter=',', parse_dates=[0], infer_datetime_format=True, na_values='0', header=None)
C:\Users\USER\AppData\Local\Temp\ipykernel_13244\2274910709.py:9: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  data = pd.read_csv(file_path, delimiter=',', parse_dates=[0], infer_datetime_format=True, na_values='0', header=None)
C:\Users\USER\AppData\Local\Temp\ipykernel_13244\2274910709.py:9: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  data = pd.read_csv(file_path, delimiter=',', parse_dates=[0], infer_datetime_format=True, na_values='0', header=None)
C:\Users\USER\AppData\Local\Temp\ipykernel_13244\2274910709.py:9: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  data = pd.read_csv(file_path, delimiter=',', parse_dates=[0], infer_datetime_format=True, na_values='0', header=None)
C:\Users\USER\AppData\Local\Temp\ipykernel_13244\2274910709.py:9: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  data = pd.read_csv(file_path, delimiter=',', parse_dates=[0], infer_datetime_format=True, na_values='0', header=None)
C:\Users\USER\AppData\Local\Temp\ipykernel_13244\2274910709.py:9: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  data = pd.read_csv(file_path, delimiter=',', parse_dates=[0], infer_datetime_format=True, na_values='0', header=None)
C:\Users\USER\AppData\Local\Temp\ipykernel_13244\2274910709.py:9: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  data = pd.read_csv(file_path, delimiter=',', parse_dates=[0], infer_datetime_format=True, na_values='0', header=None)
C:\Users\USER\AppData\Local\Temp\ipykernel_13244\2274910709.py:9: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  data = pd.read_csv(file_path, delimiter=',', parse_dates=[0], infer_datetime_format=True, na_values='0', header=None)
C:\Users\USER\AppData\Local\Temp\ipykernel_13244\2274910709.py:9: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  data = pd.read_csv(file_path, delimiter=',', parse_dates=[0], infer_datetime_format=True, na_values='0', header=None)

In [79]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 22424 entries, 2016-01-01 00:00:00 to 2023-05-02 21:00:00
Data columns (total 53 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       19648 non-null  float64
 1   2       19648 non-null  float64
 2   3       19648 non-null  float64
 3   4       9254 non-null   float64
 4   5       9774 non-null   float64
 5   6       10733 non-null  float64
 6   7       11405 non-null  float64
 7   8       12129 non-null  float64
 8   9       12795 non-null  float64
 9   10      13515 non-null  float64
 10  11      14156 non-null  float64
 11  12      14877 non-null  float64
 12  13      15396 non-null  float64
 13  14      15964 non-null  float64
 14  15      16294 non-null  float64
 15  16      16645 non-null  float64
 16  17      17025 non-null  float64
 17  18      17301 non-null  float64
 18  19      17554 non-null  float64
 19  20      17870 non-null  float64
 20  21      18023 non-null  float64
 21  22      18087 non-null  float64
 22  23      17807 non-null  float64
 23  24      17603 non-null  float64
 24  25      16703 non-null  float64
 25  26      16304 non-null  float64
 26  27      15438 non-null  float64
 27  28      14736 non-null  float64
 28  29      13720 non-null  float64
 29  30      12846 non-null  float64
 30  31      11508 non-null  float64
 31  32      10929 non-null  float64
 32  33      9371 non-null   float64
 33  34      8844 non-null   float64
 34  35      8140 non-null   float64
 35  36      7091 non-null   float64
 36  37      6449 non-null   float64
 37  38      5980 non-null   float64
 38  39      5019 non-null   float64
 39  40      4641 non-null   float64
 40  41      3496 non-null   float64
 41  42      3104 non-null   float64
 42  43      2722 non-null   float64
 43  44      2243 non-null   float64
 44  45      1881 non-null   float64
 45  46      1673 non-null   float64
 46  47      1244 non-null   float64
 47  48      1151 non-null   float64
 48  49      895 non-null    float64
 49  50      857 non-null    float64
 50  51      787 non-null    float64
 51  52      767 non-null    float64
 52  53      730 non-null    float64
dtypes: float64(53)
memory usage: 9.2 MB

In [80]:
merged_df.head()

,1,2,3,4,5,6,7,8,9,10,...,44,45,46,47,48,49,50,51,52,53
0,,,,,,,,,,,,,,,,,,,,,
2016-01-01 00:00:00,5.512677,-2.305265,-13.208849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-01 03:00:00,3.152941,-0.440106,-12.515978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-01 06:00:00,3.226364,-5.161290,-8.537423,143.819967,103.094027,126.3402,129.49592,124.643217,96.82823,90.77363,...,163.1932,131.601167,151.2143,144.231933,129.541733,147.492067,156.671133,137.356233,158.362867,144.435267
2016-01-01 09:00:00,5.643173,-7.741761,1.798728,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-01 12:00:00,5.877243,-6.910876,-0.557568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
kp_df = pd.read_csv('kp_data.csv')
kp_df.head()

,Year,Month,Day,Hour_start,Hour_end,Julian_date_start,Julian_date_end,kp_index_x3,Sum_of_kp,Quiet_or_Disturbed
0,2016,1,1,0.0,1.5,30681.000,30681.0625,6.000,80,1
1,2016,1,1,3.0,4.5,30681.125,30681.1875,5.333,56,1
2,2016,1,1,6.0,7.5,30681.250,30681.3125,5.000,48,1
3,2016,1,1,9.0,10.5,30681.375,30681.4375,3.333,18,1
4,2016,1,1,12.0,13.5,30681.500,30681.5625,1.667,6,1

In [60]:
kp_df['Datetime'] = kp_df.apply(lambda row: f"{int(row['Year'])}-{int(row['Month']):02d}-{int(row['Day']):02d} {int(row['Hour_start']):02d}:00:00", axis=1)

kp_df['Datetime'] = pd.to_datetime(kp_df['Datetime'], format='%Y-%m-%d %H:%M:%S')

In [63]:
kp_df = kp_df[['Datetime', 'kp_index_x3']]
kp_df

                 Datetime  kp_index_x3
0     2016-01-01 00:00:00        6.000
1     2016-01-01 03:00:00        5.333
2     2016-01-01 06:00:00        5.000
3     2016-01-01 09:00:00        3.333
4     2016-01-01 12:00:00        1.667
...                   ...          ...
22683 2023-10-06 09:00:00        1.667
22684 2023-10-06 12:00:00        1.000
22685 2023-10-06 15:00:00        1.333
22686 2023-10-06 18:00:00        1.000
22687 2023-10-06 21:00:00        3.000

[22688 rows x 2 columns]

In [ ]:
kp_df.set_index('Datetime', inplace=True)

In [84]:
merged_kp_fc = pd.merge(merged_df, kp_df, left_index=True, right_index=True)
merged_kp_fc

,1,2,3,4,5,6,7,8,9,10,...,45,46,47,48,49,50,51,52,53,kp_index_x3
0,,,,,,,,,,,,,,,,,,,,,
2016-01-01 00:00:00,5.512677,-2.305265,-13.208849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.000
2016-01-01 00:00:00,5.512677,-2.305265,-13.208849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.000
2016-01-01 03:00:00,3.152941,-0.440106,-12.515978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.333
2016-01-01 03:00:00,3.152941,-0.440106,-12.515978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.333
2016-01-01 06:00:00,3.226364,-5.161290,-8.537423,143.819967,103.094027,126.340200,129.495920,124.643217,96.828230,90.773630,...,131.601167,151.2143,144.231933,129.541733,147.492067,156.671133,137.356233,158.362867,144.435267,5.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-02 09:00:00,4.544129,-0.139294,-0.571417,1.324306,0.231726,0.404561,0.231726,0.232431,0.231726,0.231726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.667
2023-05-02 12:00:00,3.743609,0.916831,1.661389,1.240888,0.231726,0.342976,0.231726,0.231726,0.231726,0.231726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000
2023-05-02 15:00:00,4.106039,0.604107,0.136927,1.160690,0.231726,0.915079,0.238706,0.299897,0.231726,0.233492,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000
2023-05-02 18:00:00,3.575454,2.938294,-1.964301,0.231726,0.231726,1.502419,16.074486,14.779192,0.231726,0.231726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.667
2023-05-02 21:00:00,4.460172,3.166730,-0.698550,0.904897,0.231726,9.839623,8.251924,4.860032,0.263809,0.609288,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.667

In [85]:
merged_kp_fc.to_csv('fc_kp.csv')